<!-- Statstics modal popup-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="modal-body">
            <!-- Project details-->
            <h2 class="text-uppercase">Statistics</h2>
            <p class="item-intro text-muted">Quantified models and representations for a given set of experimental data
              or real-life studies.</p>
            <img class="img-fluid d-block mx-auto" src="assets/img/courses/1.jpg" alt="..." />
            <h3>Topics:</h3>
            <div class="block">
              <div>
                <input type="radio" name="item" id="item-one" checked hidden />
                <label for="item-one">Measures of Central Tendency</label>
                <div>
                  <p>a. Mean, Mode, Median
                  </p>
                </div>
              </div>
              <div>
                <input type="radio" name="item" id="item-two" hidden />
                <label for="item-two">Measures of Spread</label>
                <div>
                  <p>a. Variance and Standard Deviation <span><br></span>
                    b. Practical understanding in the context of Stock Markets.
                  </p>
                </div>
              </div>
              <div>
                <input type="radio" name="item" id="item-three" hidden />
                <label for="item-three">Data Visualization</label>
                <div>
                  <p>a. Histogram ~ How's the data distributed <span><br></span>
                    b. Box plot ~ Who's the outlier <span><br></span>
                    c. Scatter plot
                  </p>
                </div>
              </div>
              <div>
                <input type="radio" name="item" id="item-four" hidden />
                <label for="item-four">Normal/Gaussian Distribution</label>
                <div>
                  <p> a. Z-Score <span><br></span>
                    b. Empirical Rule <span><br></span>
                    c. Understanding Six Sigma
                  </p>
                </div>
              </div>
              <div>
                <input type="radio" name="item" id="item-five" hidden />
                <label for="item-five">Hypothesis Testing</label>
                <div>
                  <p> a. Z-test <span><br></span>
                    b. T-test
                  </p>
                </div>
              </div>
              <div>
                <input type="radio" name="item" id="item-six" hidden />
                <label for="item-six">Correlation</label>
                <div>
                  <p> a. Pearson Correlation <span><br></span>
                    b. Chi Square <span><br></span>
                    c. ANOVA
                  </p>
                </div>
              </div>
              <div>
                <input type="radio" name="item" id="item-seven" hidden />
                <label for="item-seven">Bernoulli Distribution</label>
              </div>
              <div>
                <input type="radio" name="item" id="item-eight" hidden />
                <label for="item-eight">Probability & Bayes Theorem</label>
              </div>
            </div>
            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button"><i
                class="fas fa-times me-1"></i>Close Statistics</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>